/* W3 School style RWD */

/* Border box all elements for better control*/
*{
    box-sizing: border-box;
}

/* Create col- class for grid view column width
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}*/

/* All the columns should be floating left and pading of 15px */
[class*="col-"] {
    float: left;
    padding: 15px;
}
/* REMEMBER EACH COLUMN SHOULD BE WRAPED IN A DIV
   AND NUMBER OF COLUMNS SHOULD ADD UP TO 12 I.E
   100%/12 = 8.33% WIDTH*/

/* clear elements from being placed ontop of columns*/
.row:after {
    content: "";
    clear: both;
    display: block;
}

/* @media breakpoint for mobile responsive view setting break point to 500px*/
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 500px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
/* End of Responsive Web Columns*/


/*Start of page styling*/



/*header*/

img{
    width: 15%;
    float: left;

}

h1{
    padding-top: 3%;
    position: relative;
    font-size: 55px;
}

/*NAvigation bar Css for horizontal */

/* first we remove the bullet points of the list*/
nav{
    margin-left: 70px;

}

nav>ul{
    list-style-type: none;
    margin:0;
    padding: 0;
}
/* then we go to each list container and float left */
nav>ul>li{
    float:left;

}

/*next we center the list items (links)*/
nav>ul>li a{
    display:block;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    border: 1px solid black;
}

/* end of nav bar styling*/

/*Body */
body{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

#cheeseimage img{

    width: 100%;
}

article img{

    width:100%;
    height: 300px;
    margin-bottom: 10px;
}


.inputdata{

    padding-top: 1%;
}

.inputdata input[type=text],textarea{

    margin-left: 19em;
    width: 30%;

}

.inputdata input[type=radio] {


    margin-left: 19em;


}

.inputdata label{
    position: absolute;


}









/*footer*/

footer{
    clear: both;
    text-align: center;
    border-top: 1px solid black;
}

/**/
/**/
/**/
/**/
/**/
/**/