
body{
    padding: 1%;
    margin:auto;
    max-width: 1080px;
    border: dotted;
}

header{
    border: dotted;

}
header h2{
    margin-bottom: -12px;

}

#logo img {
    padding: 5px;
    width: 100px;
    float: left;
}

main{

    margin-top: 1%;
    margin-bottom:1%;
    padding: 0;
}


nav{
    border: dotted;
    width: 20%;
    height: auto;
    float: left;
    margin-top: 1%;
    margin-bottom:1%;
    position: relative;
    left: -10px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

 li a {
    display: block;
    padding: 10px 0 10px 5px;
    text-decoration: none;
}

 #content{
     border: dotted;
     width: 78%;
     height: auto;
     float:right;
     margin-top: 1%;
    margin-bottom:1%;
     position: relative;
     right: -10px;
 }




footer{
    border: dotted;
    clear: both;
    padding-left: 5px;

}


