H1{
    COLOR:#770101;

}
H2{
    COLOR:#E03919;

}
H3{
    COLOR:#E03919;

}
body{
    background-color: #FFE0A8
}

*{
    font-family: 'Poiret One', cursive;
}

img{
    width:500px  ;
}
p{
    font-size: large;

}
