html {
    font-family: "Lucida Sans", sans-serif;
}

*{
    box-sizing: border-box;
}

/* Create col- class for grid view column width
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}*/

/* All the columns should be floating left and pading of 15px */
[class*="col-"] {
    float: left;
    padding: 15px;
}
/* REMEMBER EACH COLUMN SHOULD BE WRAPED IN A DIV
   AND NUMBER OF COLUMNS SHOULD ADD UP TO 12 I.E
   100%/12 = 8.33% WIDTH*/

/* clear elements from being placed ontop of columns*/
.row:after {
    content: "";
    clear: both;
    display: block;
}

/* @media breakpoint for mobile responsive view setting break point to 500px*/
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 500px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
/* End of Responsive Web Columns*/


/*Start of page styling*/


/*Header Styling*/
header{

    padding-left: 5px;
    clear: both;
}

header img{
    width: 120px;
    float: left;
    margin-right: 10px;

}
header h2{
    padding-top: 10px;
    padding-bottom: -3px;
}

/*Navbar Styling*/
#navbar{
    margin-top: 1%;
    margin-bottom: 1%;
    height: 300px;
}

#navbar ul{
    list-style-type: none;
    margin: 0;
    padding:0;

}

#navbar li a{
    display:block;
    padding:10px;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: Left;
    margin-left: -10px;

}

#navbar li:hover{
    background-color: aqua;}

/* Body Styling*/

body{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/* Content Styling*/
#content{

    margin-top: 1%;
    margin-bottom: 1%;
    height: 300px;
}

#bugitem{
    border-bottom: 1px solid black;
}
/* Form Styling*/
.inputBug{

    margin-left: 5%;
    padding-top: 2%;
}
.inputBug label{
    position: absolute;
    margin-bottom: 10px;
}

.inputBug input[type=text],textarea{
    margin-left: 10em;
    width: 250px;

}
.inputBug input[type=submit]{
    margin-left: 25em;
}



/* Footer Styling*/
footer{

    clear: both;
    padding-left: 5px;
}

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/