/*@import "templatecolors.css";*/



/* Body Styling Start */
body{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}


/* Nav Bar Styling */
nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav>ul>li {
    float: left;
}

nav>ul>li>a{
    display: inline-block;
    color: #000000;
    padding: 10px 30px;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    color: #363636;
}

/* End of Nav bar*/

/* Image Sizing Css */

#logo{
    width: 300px;
}

#banner{
    max-width: 960px;
}

#hos{
    width: 200px;
    float: left;
    padding-right: 10px;
}
/* End of Image Styling*/




/* Text styling */
h1{
    font-family: 'Roboto', sans-serif ;
    font-weight: 300;
}

p,h2,h3,h4,h5,a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h3,h4,h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

/*End of text styling*/


/* Coloring */
#news{
    background-color: #dbc9df;
}
#events{
    background-color: #782a7e;
}
footer{
    background-color: #363636;
}

aside p,h3,h4{
    color: white;
}

/* End of Coloring */


/* Margin Fixes */

aside p,h3,h4{
    margin: 0;
}

aside h3{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

aside h4{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

aside p{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

aside{
    padding-right: 0px !important;
    margin-top:-5px;!important;
}

main{
    padding-right: 0px; !important;
}

/* Font Fixes */

h1 {
    font-size: 20px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
p {
    font-size: 13px;
}
a {
    font-size: 13px;
}



footer{
    width: 150px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    clear: both;
}




#quickfix {
    clear: both;
}

